.canvas {
  display: block;
  border: 1px solid black;
  margin: 50px auto;
  cursor: pointer;
}

.node {
  fill: #0198E1;
  stroke: black;
  stroke-width: 1.5px;
}

.link {
  stroke: #999999;
  stroke-opacity: 0.6;
  stroke-width: 10px;
}
